body {
	background-color: #a1a1a1;
	background-image: url(https://github.com/lucylow/intheskywithdiamonds.gif/blob/master/galaxy.jpg);
	font-family: "BodoniSvtyTwoOSITCTT-Bold", "Georgia", serif;
	text-rendering: optimizeLegibility;
}

	
